<!DOCTYPE html>
<html lang="fr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title th:text="${application.title}">Financial</title>
<link th:href="@{/assets/bootstrap/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/assets/customize/css/navbar-top-fixed.css}"
	rel="stylesheet">
<link th:href="@{/assets/customize/css/dashboard.css}" rel="stylesheet">
<link th:href="@{/assets/customize/css/table.css}" rel="stylesheet">
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
</head>
<body>
	<nav th:replace="fragment/header :: header"></nav>
	<div class="container-fluid">
		<div class="row">
			<nav th:replace="fragment/sidebar :: sidebar(${customerID})"></nav>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
			<span id="stateTypeCode" class="d-none" th:text="${stateType?.code}"></span>
				<form
					th:action="@{/state/__${stateType?.code}__/__${stateType?.uuid}__}"
					method="post" th:object="${state}" id="frm_state">
					<input type="hidden" id="customerID" th:name="customerID"
						th:value="${customerID}">
					<div
						class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
						<h1 class="h2 text-break" th:text="${stateType?.label}">BILAN
							ACTIF</h1>
						<div class="btn-toolbar mb-2 mb-md-0" th:if="${state}">
							<div class="btn-group mr-2">
								<button type="button" class="btn btn-sm btn-outline-secondary"
									id="btn-edition">Editer</button>
								<button type="submit" class="btn btn-sm btn-outline-success"
									id="btn-save">Enregistrer</button>
								<button type="button" class="btn btn-sm btn-outline-secondary"
									id="btn-export">Exporter</button>
							</div>
							<button type="button"
								class="btn btn-sm btn-outline-secondary dropdown-toggle">
								<span data-feather="calendar"></span> Autres exercices
							</button>
						</div>
					</div>
					<div id="myTable" th:if="${state}">
						<table class="table table-bordered">
							<thead>
								<tr>
									<th class="dataH" rowspan="2"></th>
									<th class="dataH" rowspan="2">Note</th>
									<th class="dataH" id="columnResource" th:colspan="${state.resources}"
										th:each="year : ${years}"
										th:text="${'Exercice au 31/12/' + year}">Exercice au
										31/12/N</th>
								</tr>
								<tr>
									<span th:each="year, stat : ${years}">
										<th class="dataH text-center"
										th:each="resource : ${state?.resourceValues}"
										th:text="${resource}" th:id="${resource+'_'+year}">Emplois</th>
									</span>
								</tr>
							</thead>
							<tbody id="financial" th:replace="fragment/financial :: financial">
							</tbody>
						</table>
					</div>
				</form>
			</main>
		</div>
	</div>
	<script th:src="@{/assets/customize/js/jquery-1.10.2.js}"></script>
	<script th:src="@{/assets/bootstrap/js/bootstrap.bundle.js}"></script>
	<script th:src="@{/assets/bootstrap/js/bootstrap.js}"></script>
	<script th:src="@{/assets/customize/js/table.js}"></script>
	<script th:src="@{/assets/customize/js/financial.action.js}"></script>
</body>
</html>
