<!doctype html>
<html lang="fr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title th:text="${application.title}">Financial</title>
<link th:href="@{/assets/bootstrap/css/bootstrap.css}" rel="stylesheet">
<link th:href="@{/assets/customize/css/navbar-top-fixed.css}"
	rel="stylesheet">
<link th:href="@{/assets/customize/css/dashboard.css}" rel="stylesheet">
<title>Ratios</title>
<style>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}
</style>
</head>
<body>
	<nav th:replace="fragment/header :: header"></nav>

	<div class="container-fluid">
		<div class="row">
			<nav th:replace="fragment/sidebar :: sidebar(${customerID})"></nav>
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h1 class="h2 text-break">RATIOS</h1>
				</div>
				<div class="container">
					<div class="row mt-mb-4">
						<div class="col-4"></div>
						<div class="col-8">
							<div class="row ml-4">
								<div class="col-4" th:each="year : ${years}" th:text="${year}">2020</div>
							</div>
						</div>
					</div>
					<div th:each="ratio : ${ratios}">
						<div class="row mt-2">
							<div class="col-4 lead text-right" th:text="${ratio.name}">Ressources
								Propres / Total Bilan (%)</div>
							<div class="col-8"></div>
						</div>
						<hr />
					</div>
				</div>
			</main>
		</div>
	</div>

	<script th:src="@{/assets/customize/js/jquery-1.10.2.js}"></script>
	<script th:src="@{/assets/bootstrap/js/bootstrap.bundle.js}"></script>
	<script th:src="@{/assets/bootstrap/js/bootstrap.js}"></script>
	<script th:src="@{/assets/customize/js/table.js}"></script>
	<script th:src="@{/assets/customize/js/financial.action.js}"></script>
</body>
</html>